<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	<h1> Post something </h1>
	<form action="/post_content" method="post">
		<label for="title">Title: </label>
        <input type="text" name="title" id="title" placeholder="Give your content a title" />
		<br />
		<label for="file_path">File Path: </label>
		<input type="text" name="file_path" placeholder="Enter file path here (C:\...)" />
		<br />
		<label for="share_view">Post visibility: </label>
		<select name="share_view" id="share_view">
			<% for (var i in fg) { %>
				<option value = "<%= fg[i].group_name %>">
					<%= fg[i].group_name %>
				</option>
			<% } %>
			<option value = "public">Public</option>
		</select>
		<br />
        <button type="submit">Post</button>
	</form>
	<h1> PriCoSha Social Feed </h1>
	<table style = "width:100%">
		<tr>
			<td>ID</td>
			<td>Username</td>
			<td>Time Posted</td>
			<td>File Path</td>
			<td>Content Name</td>
		</tr>
	<% for (var i in content) { %>
		<tr>
			<td><%= content[i].id %></td>
			<td><%= content[i].username %></td>
			<td><%= content[i].timest %></td>
			<td><%= content[i].file_path %></td>
			<td><%= content[i].content_name %></td>
		</tr>
	<% } %>
	<table>
	<h1>Add a Friend to your group!</h1>
	<form action="/add_friend" method="post">
		<label for="fd_username">Username: </label>
        <input type="text" name="fd_username" id="fd_username" placeholder="Enter friend's username" />
		<select name="add_fd_group" id="add_fd_group">
			<% for (var i in fg) { %>
				<option value = "<%= fg[i].group_name %>">
					<%= fg[i].group_name %>
				</option>
			<% } %>
		</select>
        <button type="submit">Add</button>
	</form>
</body>
</html>